.notepaper {
    position: relative;
    margin: 30px auto;
    padding: 29px 20px 20px 45px;
    line-height: 30px;
    color: #6a5f49;
    text-shadow: 0 1px 1px white;
    background-color: #f2f6c1;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    border: 1px solid #c3baaa;
    border-color: rgba(195, 186, 170, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  }
  
  .notepaper:before, .notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .notepaper:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
  }
  
  .notepaper:after {
    z-index: -1;
    left: 0;
    right: 0;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  
  .quote {
    font-family: Georgia, serif;
    font-size: 14px;
  }
  
  .curly-quotes:before, .curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .2;
  }
  
  .curly-quotes:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
  }
  
  .curly-quotes:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
  }
  
  .quote-by {
    display: block;
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
    font-style: italic;
    color: #84775c;
  }
  
  .lt-ie8 .notepaper {
    padding: 15px 25px;
  }
  .profileCls{
      border-radius: 50%;
      background-image: url('../../assets/images/profile.png');
  }
  .testimonal-olmc {
    border: 3px solid #9D8253;
    box-shadow: 2px 2px 2px 2px #9D8253; 
}

.testimonal-olmc .testimonal-profile-img {
    position: relative;
    background: #fff;
    border: 3px solid #9D8253;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: -60px auto 0;
}
.testimonal-profile-img img {
    width: 100%;
    height: auto
}

.testimonal-info {
    text-align: center;
    padding: 0 20px;
}
.testimonal-description {
    font-size: 0.9rem;
    color: #46220E;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-top: 1px solid #9D8253;
    padding-top: 10px;
}

.testimonal-description i {
    padding-right: 8px;
    font-size: 1.5rem;
    color: #46220E;
}

.testimonal-name {
    display: block;
    font-size: 1.25rem;
    color: #46220E;
    margin: 15px 0 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.testimonal-priest {
    display: block;
    font-size: 0.75rem;
    color: #c39239;
    margin-bottom: 10px;
    font-style: italic;
}
/* @media only screen and (max-width: 990px) {
    .testimonal-olmc {
        margin-bottom:25px
    }
} */
