@import '../node_modules/font-awesome/css/font-awesome.min.css';


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.handIcon {
  cursor: pointer;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.padding_top_15{
  padding-top: 15px;
}
.margin0{
  margin : 0;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

