@import '../node_modules/font-awesome/css/font-awesome.min.css';


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 16px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.handIcon {
  cursor: pointer;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.padding_top_15{
  padding-top: 15px;
}
.padding_left_15{
  padding-left: 15px;
}
.margin0{
  margin : 0;
}
.marginTop100{
  margin-top: 100px;
}
.marginTop40{
  margin-top : 40px;
}
.marginTop50{
  margin-top : 50px;
}
.marginBottom50{
  margin-bottom : 50px;
}
.marginTop10{
  margin-top: 10px;
}
.tableClass{
  border : 3px solid #9D8253;
}
.width100{
  width : 100%;
}
.textTransformUpperCase{
  text-transform: uppercase;
}
.bgClass{
  height: 30vh;
  width: 100vw;
}
.centerImg{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: #E5CEA4;
  text-transform: uppercase;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (max-width: 768px) {
  body{
      font-size: 14px;
  }
}

